.four0fourImg{
    display: block;
    margin: 60px auto;
    height: 55vh;
}

.four0fourText{
    text-align: center;
    text-transform: capitalize;
    color: #383838;
    font-size: larger;
}

.four0fourText a{
    color: blue;
}