/*  */
.sectionOfProducts{
    width: 100%;
    height: auto;
    display: flex;
    margin: 36px auto 0px auto;
    background: #fff;
}

section aside .productsBox{
    width: 78%;
    height: auto;
}

section aside{
    width: 18%;
}

section .productsBox{
    padding: 0px 30px;
}

section .productsBox nav{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

section .productsBox nav h5 ion-icon{
    margin:  0 3px -3px 3px;
}

section .productsBox nav h5 span{
    color: grey;
}

section .productsBox section{
    width: 100%;
    height: 40px;
    margin: 0;
    margin-top: 15px;
}

section .productsBox section .sortTitle{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .productsBox section .sortTitle h4{
    font-weight: 600;
    color: var(--secondary-color);
}

section .productsBox section .sortTitle .sortSelect{
   position: relative;
}

section .productsBox section .sortTitle button{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6px 0px;
  width: 150px;
  border-radius: 2px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

section .productsBox section .sortTitle .sortSelect button ion-icon{
   font-size: 18px;
   color: grey;
}

section .productsBox section .sortTitle .sortSelect .sortOptions{
    position: absolute;
    width: 150px;
    height: 0px;
    opacity: 0;
    padding: 5px 10px 10px 10px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    transition: 0.3s linear;
}

section .productsBox section .sortTitle .sortSelect .sortOptions li{
    list-style: none;
    padding: 5px 0px;
    background: rgb(0, 0, 0, 0.1);
    margin-top: 5px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s linear;
}

section .productsBox section .sortTitle .sortSelect .sortOptions li:hover{
    background: #000;
    color: #fff;
}

section .productsBox section .sortTitle .sortSelect .sortOptions_active{
    height: 150px;
    opacity: 1;
    z-index: 99999999999999;
}

section .productsBox .mainProArea{
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

section .productsBox .mainProArea .itemCard{
    position: relative;
    width: 250px;
    height: 270px;
    border: 1px solid rgba(78, 78, 78, 0.158);
    margin: 5px 10px 25px 2px;
    text-decoration: none;
    transition: 0.3s linear;
    padding: 5px 10px;
}

section .productsBox .mainProArea .itemCard:hover{
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3);
    border-radius: 5px;
}

section .productsBox .mainProArea .itemCard img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

section .productsBox .mainProArea .itemCard .cardTitle{
    font-size: 13px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
}

section .productsBox .mainProArea .itemCard p{
    font-size: 14px;
    font-weight: 500;
    color: gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

section .productsBox .mainProArea .itemCard .itemPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

section .productsBox .mainProArea .itemCard .itemPrice h5{
    color: #000;
    font-size: 14px;
}

section .productsBox .mainProArea .itemCard .itemPrice h5:nth-child(2){
    color: gray;
    font-size: 13px;
}

section .productsBox .mainProArea .itemCard .colorTag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
}

section .productsBox .mainProArea .itemCard .colorTag .stars{
    font-size: 14px;
    color: goldenrod;
}

section .productsBox .mainProArea .itemCard .colorTag button{
    background: var(--main-color);
    color: #fff;
    border: none;
    padding: 2px 8px;
    margin-top: 3px;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

section .productsBox .mainProArea .itemCard .colorTag button:hover{
    color: var(--main-color);
    background: rgb(202, 202, 202);
    border: 1px solid var(--main-color);
}

section .productsBox .pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0px 30px 0px;
}

section .productsBox .pagination a{
  width: 20%;
  padding: 8px 0px;
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0, 0.1);
  font-size: 12px;
  text-align: center;
  transition: 0.3s linear;
}

section .productsBox .pagination a:hover{
  color: #fff;
  background: var(--main-color);
}

section .productsBox .pagination h6{
  width: 40%;
  text-align: center;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  padding: 8px 0px;
  color: var(--main-color);
}

section .productsBox .pagination ion-icon{
  font-size: 18px;
  color: #000;
  margin-bottom: -3px;
}

section .productsBox .pagination ion-icon:hover{
  font-size: 18px;
  color: #ffffff;
}

section aside{
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
}

section aside .filterArea {
  width: 250px;
  height: 100vh;
  background: v(0, 0, 0, 0.1);
  padding: 10px;
  margin-right: 10px;
}

section aside .filterArea .filter{
  font-size: 14.8px;
}

section aside .filterArea .productItems {
  font-size: 17px;
  margin-top: 3px;
}

section aside .itemsCheck{
  width: 100%;
  height: auto;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  margin-top: 10px;
}

section aside .filterArea .clothesChecked{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  margin: 10px 0px;
  background: var(--main-color);
  color: var(--secondary-color);
}

section aside .filterArea .clothesChecked h6{
 font-size: 16px;
}

section aside .filterArea .clothesChecked i{
    font-size: 16px;
   }

section aside .filterArea .itemsCheck_off{
  background: none;
  color: #000;
}

section aside .filterArea .itemsCheck li{
  width: 90%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  font-size: 17px;
  font-weight: 500;
}

section aside .filterArea .itemsCheck li i{
  font-size: 28px;
  transition: 0.3s linear;
  cursor: pointer;
  color: var(--alternate);
}

/* section aside .filterArea .itemsCheck li i:hover{
  color: orangered;
} */

section aside .filterArea .itemsCheck li .i_active{
  color: var(--main-color);
} 

section aside .filterArea .itemsCheck .priceInput{
  position: relative;
  display: flex;
  align-items: center;
}

section aside .filterArea .itemsCheck .priceInput{
  position: relative;
  display: flex;
  align-items: center;
}

section aside .filterArea .itemsCheck .priceInput::before{
 content: "";
 position: absolute;
 width: 88%;
 height: 3px;
 background: rgb(0, 0, 0, 0.3);
 top: 11px;
 left: 0;
}

section aside .filterArea .itemsCheck .priceInput .priceInput1{
 position: relative;
 width: 44%;
}

section aside .filterArea .itemsCheck .priceInput .priceInput1 input{
  z-index: 99999999999999999;
  opacity: 0;
  cursor: pointer;
  width: 100%;
}

section aside .filterArea .itemsCheck .priceInput .priceInput1 i{
 position: absolute;
 top: 0px;
 left: 0%;
 transition: 1s linear;
}

section aside .filterArea .itemsCheck .priceInput .priceInput1:nth-child(2) i{
  left: 100%;
}

section aside .filterArea .itemsCheck .prices{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

section aside .filterArea .itemsCheck .prices h6{
  border: 1px solid rgb(0, 0, 0, 0.3);
  padding: 3px 12px;
  color: rgb(0, 0, 0, 0.8);
}

section aside .filterArea .itemsCheck .sizesBox{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

section aside .filterArea .itemsCheck .sizesBox h6{
  border: 1px solid rgb(0, 0, 0, 0.7);
  color: rgb(0, 0, 0, 0.7);
  padding: 5px 7px;
  margin: 5px;
  cursor: pointer;
}

section aside .filterArea .itemsCheck .sizesBox h6:hover{
  border: 1px solid rgb(0, 0, 0, 0.7);
  color: #fff;
  background: rgb(0, 0, 0, 0.7);
}



